<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dunkdash">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DunkDash"
        tools:targetApi="31">
        
        <!-- Add AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/> <!-- Test ID, replace with real one in production -->

        <!-- FileProvider for camera functionality -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity android:name=".HomePageActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity android:name=".SuccessfulSignupActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".FailActivity" />
        <activity android:name=".SelectBackgroundsActivity" />
        <activity android:name=".SelectBasketballsActivity"/>
        <activity android:name=".SelectModesActivity" />
        <activity
            android:name=".LeaderboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DunkDash" />

        <!-- Audio Test Activity for debugging -->
        <activity
            android:name=".AudioTestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DunkDash" />

        <!-- Add this service declaration inside the <application> tag -->
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>